@charset "utf-8";
/* CSS Document */
* {margin:0;padding:0;}

body {background:#ffffff;font-size:12px;font-family:Arial;}

a, a:visited, a:hover {text-decoration:none;}

.clear {clear:both;}

img {border:none;}

/* header settings */

#header {background:url(../Img/b/header_bg_01.jpg) no-repeat;height:100px;}

#logo {}

#bar {background:url(../Img/b/bar_bg.png) repeat-x;height:37px;overflow:hidden;}
#bar h4 {font-size:14px;font-weight:bold;color:#444444;margin:8px 0 0 15px;}
#bar h4 em {margin:0 6px;font-style:normal;color:#0066a7;}
#bar h4 strong {margin:0 6px;font-style:normal;color:#59990e;}
#bar h4 img {position:relative;top:2px;left:6px;}
#bar h4 a {font-size:12px;font-weight:normal;cursor:pointer;}
#bar :link,
#bar :visited {color:#444444;}
#bar :hover {color:#ffa117;}

#bar h5 {font-size:12px;font-weight:normal;color:#0066a7;margin:12px 15px 0 0; float:right; display:inline;}
#bar h5 strong {font-style:normal;font-weight:normal;color:#59990e;}

.top_menu {
float:left;
height:33px;
line-height:33px;
width:403px;
margin:0 0 0 200px;
}
.m_nav {
background:url(../Img/b/r_t1.png) repeat-x;height:33px;overflow:hidden;
color:#FFFFFF;
cursor:pointer;
display:inline;
float:left;
font-size:14px;
font-weight:700;
height:33px;
line-height:33px;
margin-top:7px;
position:relative;
text-align:center;
vertical-align:text-top;
width:90px;
}

.tab_on {width:228px;height:30px;float:left; display:inline;margin:}
.tab_off {width:208px;height:30px;float:left; display:inline;}
.tab_search {float:right; display:inline;margin:-11px 0 0 0;}
.tab_search img {float:left; display:inline;}
.search {width:468px;height:41px;float:left; display:inline;background:#ffffff;}
.search form {margin:12px 0 0 0;}
.search_input {width:400px;height:20px;padding:0 4px 0 3px;border:1px solid #0066a7;background:#edf7ff;line-height:20px;color:#0066a7;}
.search_button {width:50px;height:22px;margin:0 0 0 5px;border:none;background:#0066a7;line-height:22px;color:#ffffff;font-weight:bold;}

/* map page layout begin*/

#bg_container {
background-image:url("../Img/map/bg_maincontent.gif");
background-position:right center;
background-repeat:repeat-y;
}

#wrapper {float:left;margin-left:-330px;width:100%;}

#content {background-image:url("../Img/map/bg_leftcontent.gif");background-repeat:repeat-x;margin-left:300px;}
#content .inlinecontent {
padding:10px 0px;
}
/*#content .inlinecontent {padding:15px 10px;}*/

#sidebar {
background-image:url("../Img/map/bg_sidebar.gif");
background-repeat:repeat-x;
float:right;
width:315px;
height:600px;
}



/*#sidebar .inlinecontent {padding:20px 15px 20px 10px;}*/

.heading_map {
background-image:url("../Img/map/tit_bg4.png");
background-repeat:repeat-x;
height:24px;
line-height:24px;
margin-left:4px;
margin-right:4px;
}

.con_middle {border:1px solid #93b1ca;background:#f8fcff;height:20px;line-height:20px;width:190px;}

.o_bt4 {
background:url("../Img/map/but01.png") repeat scroll 0 0 transparent;
color:#888888;
width:80px;
border:0 none;
cursor:pointer;
height:25px;
line-height:25px;
margin-left:5px;
text-align:center;
}
 /* map page layout  end */

 /* map marker info begin    */
.clx {}

ol, ul { list-style:none outside none; }

.googlelist .h_right {float:left;width:470px;}

.googlelist .hmab {margin-top:5px;}

.googlelist .in-h2 {display:inline;}

.googlelist a.jd {color:#001D75;font-weight:bold;text-decoration:none;}

.pr5 {padding-right:5px;}

.tr {text-align:right;}

.googlelist a {	color:#001D75;text-decoration:none;}

.mr15 {margin-right:15px;}

/*info alarm*/
.tbz1 {
background:none repeat scroll 0 0 #F2F2F2;
border-bottom:1px solid #D9D9D9;
color:#777777;
margin-top:10px;
padding:3px 5px 1px;
}

.tbz {
border-bottom:1px solid #D9D9D9;
}

 .tbz span, .tbz1 span {
 display:inline-block;
font-family:simsun !important;
text-align:center;
vertical-align:top;
}

.fb1 {
width:10px;
padding-right:5px;
}

.fb2 {
width:130px;
padding-right:5px;
}

.fb3 {
width:130px;
padding-right:5px;
}

.fb4 {
width:130px;
padding-right:5px;
}
 /* map marker info end    */

 .labelDiv {
	width:130px;
	height:15px;
	border:1px solid #B2B2B2;
	background:none repeat scroll 0 0 #F4F4F4;
	font-size:14px;
	text-align:center;
	font-weight:bold;
 }

 /* map search list  begin */

.htj15 {height:500px;overflow:auto;padding-top:1px;width:282px;margin-left:-18px;}

.htj15 .mpb {background:none repeat scroll 0 0 #1494D7;}

.htj15 ul {margin-bottom:7px;padding:0 5px;border-bottom:1px dashed #CCCCCC;}

.htj15 .opt {margin-left:22px;}

.h_sz {
background:url("../Img/map/no.png") no-repeat scroll 0 transparent;
display:inline-block;
font-family:SimSun;
height:20px;
line-height:16px;
margin-right:5px;
margin-top:4px;
text-align:center;
vertical-align:top;
width:20px;
}

.htj15 a {
color:#001D75;
display:inline-block;
vertical-align:middle;
width:185px;
text-decoration:none;
}

/*page*/
.page_r {
color:#001D75;
padding-right:18px;
padding-top:2px;
text-align:right;
}

.page_r a {margin:0 2px;}

.page_r a.npage {
color:#777777 !important;
cursor:default;
text-decoration:none !important;
}

.page_r a.ls1 {
font-family:SimSun !important;
}

.page_r a.dq {
color:#000000 !important;
font-weight:bold !important;
text-decoration:none !important;
}


 /* map search list end */


